/* ---------------footer------------ */
footer {
   background-color: var(--section-background);
}

.fotor-content {
   display: flex;
   align-items: baseline;
   padding-top: 60px;
   padding-left: 15px;
   padding-bottom: 60px;
}

.logo-footer {
   color: var(--logo-color);
   font-family: Raleway, sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.logo-footer span {
   color: var(--accent-color);
}

.address {
   margin-right: 70px;
}

.address-footer {
   color: var(--accent-color);
   font-size: 14px;
   font-style: normal;
   line-height: 1.71;
   margin-top: 20px;
}

.address-map {
   color: var(--accent-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-map:hover,
.address-map:focus {
   color: var(--logo-color);
}

.contact-footer li:not(:last-child) {
   margin-bottom: 9px;
}

.contact-footer .click {
   color: var(--accent-footer-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer .click:hover,
.contact-footer .click:focus {
   color: var(--logo-color);
}

.social h3 {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--accent-color);
   margin-bottom: 20px;
}

.social-site {
   display: flex;
   justify-content: center;
}

.site-media a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background-color: #FFFFFF1A;
   color: var(--accent-color);
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-site li:not(:last-child) {
   margin-right: 10px;
}

.site-media a:hover,
.site-media a:focus {
   background-color: var(--logo-background-color);
}

.socmedia {
   fill: currentColor;
}

.mail-mailing {
   margin-left: auto;
}

.but-mailing {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--logo-background-color);
   color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   font-weight: 700;
   border-radius: 4px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   height: 50px;
   min-width: 200px;
   margin-left: 12px;
}

.but-mailing svg {
   margin-left: 10px;
}

.but-mailing-mail {
   display: flex;
}

.mailing-list {
   display: block;
   color: var(--accent-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 20px;
   cursor: pointer;
}

.but-mailing-mail input {
   width: 358px;
   height: 50px;
   background-color: var(--section-background);
   color: var(--accent-color);
   letter-spacing: 0.03em;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   padding-left: 16px;
   cursor: pointer;
}

.but-mailing-mail input:focus {
   outline: none;
   border-color: rgba(255, 255, 255, 0.3);
   color: var(--accent-footer-color);
}

.but-mailing-mail input::placeholder {
   color: var(--accent-footer-color);
}