/* ---------------footer------------ */
footer {
   background-color: var(--section-background);
}

.footer__content {
   display: flex;
   align-items: baseline;
   padding-top: 60px;
   padding-left: 15px;
   padding-bottom: 60px;
}

.footer__logo {
   color: var(--logo-color);
   font-family: Raleway, sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.19;
   letter-spacing: 0.03em;
   & span{color: var(--accent-color);}
}

.footer__address {
   margin-right: 70px;
}

.footer__location {
   color: var(--accent-color);
   font-size: 14px;
   font-style: normal;
   line-height: 1.71;
   margin-top: 20px;
}

.footer__map {
   color: var(--accent-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover{color: var(--logo-color);}
   &:focus{color: var(--logo-color);}
}

.footer__contact:not(:last-child) {
   margin-bottom: 9px;
}

.footer__contact--click {
   color: var(--accent-footer-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover{color: var(--logo-color);}
   &:focus{color: var(--logo-color);}
}

.footer__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--accent-color);
   margin-bottom: 20px;
}

.footer__site {
   display: flex;
   justify-content: center;
}

.footer__media  {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background-color: #FFFFFF1A;
   color: var(--accent-color);
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover{ background-color: var(--logo-background-color);}
   &:focus{ background-color: var(--logo-background-color);}
}

.footer__icon:not(:last-child) {
   margin-right: 10px;
}

.footer__socmedia {
   fill: currentColor;
}

.footer__mail {
   margin-left: auto;
}

.footer__mailing {
   display: block;
   color: var(--accent-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 20px;
   cursor: pointer;
}

.but-mailing {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--logo-background-color);
   color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   font-weight: 700;
   border-radius: 4px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   height: 50px;
   min-width: 200px;
   margin-left: 12px;
}

.footer__thumbnail {
   margin-left: 10px;
}

.footer__button {
   display: flex;
}

.footer__input {
   width: 358px;
   height: 50px;
   background-color: var(--section-background);
   color: var(--accent-color);
   letter-spacing: 0.03em;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   padding-left: 16px;
   cursor: pointer;
   &:focus{outline: none;
      border-color: rgba(255, 255, 255, 0.3);
      color: var(--accent-footer-color);}
   &::placeholder{color: var(--accent-footer-color);}
}


