/* ------Work-label--------- */
.work-label {
   width: 370px;
   height: 70px;
   padding-top: 27px;
   padding-bottom: 27px;
   background-color: #2F303ACC;
   color: var(--accent-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   bottom: 0;
   position: absolute;
}