
// переменные цвета

$primaryTextColor:#757575;
$titleTextColor:#212121;
$accentColor: #FFFFFF;
$logoColor: #2196F3;
$bodyBackgroundColor: #FFFFFF;
$logoBackgroundColor: #2196F3;
$sectionBackground: #2F303A;
$buttonBackColor: #F5F4FA;
$accentFooterColor: #FFFFFF99;
$logoBackgroundClick: #188CE8;


// :root {
//    --primary-text-color: #757575;
//    --title-text-color: #212121;
//    --accent-color: #FFFFFF;
//    --logo-color: #2196F3;
//    --body-background-color: #FFFFFF;
//    --logo-background-color: #2196F3;
//    --section-background: #2F303A;
//    --button-back-color: #F5F4FA;
//    --accent-footer-color: #FFFFFF99;
//    --logo-background-click: #188CE8;
// }


// переменные шрифтов


/* Обнуление margin и padding*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin: 0px;
   padding: 0px;
}