:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #FFFFFF;
   --logo-color: #2196F3;
   --body-background-color: #FFFFFF;
   --logo-background-color: #2196F3;
   --section-background: #2F303A;
   --button-back-color: #F5F4FA;
   --accent-footer-color: #FFFFFF99;
   --logo-background-click: #188CE8;
}

/* -------переменные----------- */
/* основной цвет color: #757575; */
/* вторичный цвет color: #212121; */
/* цвет прозрачный color: rgba(255, 255, 255, 0.6); */
/* белый цвет color: #FFFFFF; */
/* цвет лого color: #2196F3; */
/* черный цвет  color: #000000;*/

/* Обнуление margin и padding*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin: 0px;
   padding: 0px;
}